<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change-Avatar</title>
</head>
<body>
    <h2>Chnage your Avatar:</h2>
    <form action="/change" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Change-Avatar</button>
    </form>
</body>
</html>