<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete-Account</title>
</head>
<body>
    <h2>Confirm Account Deletion</h2>
    <form action="/delete" method="post">
        Enter Your Account Password:
        <input type="password" placeholder="Password" name="password" required>
        <button>Delete-Account</button>
    </form>
    
</body>
</html>