<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete-Account</title>
    <style>
        #child {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: fit-content;
            padding: 30px;
            text-align: center;
        }
        #dlt {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }
        #dlt button {
            width: fit-content;
            align-self: center;
        }
        #parent{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="parent">
        <div id="child">
            <h2>Confirm Account Deletion</h2>
            <form action="/delete" method="post">
                Enter Your Account Password:
                <div id="dlt">
                    <input type="password" placeholder="Password" name="password" required>
                    <button>Delete-Account</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>