<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        #anything {
            color: red;
        }

        #any {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            padding: 25px;
            width: fit-content;
        }
        #parent{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="parent">
        <div id="any">
            <h1>Login!</h1>
            <form action="/login" method="post">
                Email: <input type="email" placeholder="Enter Your Email" name="email" required> </br></br>
                Password: <input type="password" placeholder="Enter Your Password" name="password" required> </br></br>
                <a href="/forgot">Forgot Password?</a> </br></br>
                <input type="submit"> </br> </br>
            </form>

            <a href="/register">Don't have Account?</a>

            <% if (error) { %>
                <p id="anything">
                    <%= error %>
                </p>
                <% } %>
        </div>
    </div>
</body>

</html>