<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <style>
        #data {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: fit-content;
            padding: 30px;
            text-align: center;
        }

        #data1 {
            display: flex;
            justify-content: center;
        }
        #data2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
        #sub{
            width: auto;
            align-self: center;
        }
    </style>
</head>

<body>
    <div id="data1">
        <div id="data">
            <h2>Update Your Name</h2>
            <form action="/update" method="post">
                <div id="data2">
                    <input type="text" name="name" placeholder="Enter New Name" required>
                    <input type="submit" value="Update" id="sub">
                </div>
            </form>
        </div>
    </div>
</body>

</html>